---
---

header {
    padding: 1vh 1vw;
    background-color:lighten($color: black, $amount: 10);
    text-align: center;
    color: darken($color: cyan, $amount: 10);
}

.site_title, .site_description {
    padding: 1vh 0 2vh;
    a {
        text-decoration: none;
        color: darken($color: cyan, $amount: 10);
    }
}

.site_title {
    font-size: 3rem;
    font-weight: bold;
}

.site_description {font-size: 1.25rem;}
