---
---

header {
    padding: 25px;
    background-color:darken($color: green, $amount: 20);
    text-align: center;
}

#site_title {
    font-size:xx-large;
    color: whitesmoke;
    padding-top: 10px;
}

#site_description {
    color: whitesmoke;
    font-size: large;
    padding-top: 5px;
}
