---
---

header {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    background-color:darken($color: red, $amount: 40);
    text-align: center;
}

#site_title, #site_description {
    padding-top: 1vh;
    padding-bottom: 2vh;
}

#site_title{font-size: 2.5em;}

#site_description {font-size: 1.25em;}

