---
---
nav {    
    max-width: 600px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: darken($color: blueviolet, $amount: 40);
}

.nav_item { padding: 25px; }