---
---
nav {    
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: lighten($color: black, $amount: 10);
    font-size: 1.25rem;
}

.nav_item {
    padding-right: 3vw;
    padding-left: 3vw;
}