---
---

#page_title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 3vh;
    color: yellowgreen;
    padding-right: 1vw;
    padding-left: 1vw;
}

.slider { width: 50%;
}

.ingredient {
    padding-top: 0.25m;
    padding-bottom: 0.25em;
}

.ingredients { padding-left: 2% }
