---
---

#page_title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3vh 1vw 1vw;
    color: green;
}

.slider {
    width: 70%;
}

.ingredient {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.ingredients { padding-left: 1% }

.servings {
    font-size: 1.5rem;
    width: 20%;
}