---
---

html {
    color: whitesmoke;
    background-color: darken($color: blue, $amount: 45);
    font-family:sans-serif;
    text-align: justify;
}

main {
    max-width: 980px;
    padding: 1%;
    margin: auto;
}

body {margin: 0px;}

a {color: cyan;}

h1 {color: yellowgreen;}