---
---

html {
    color: whitesmoke;
    background-color: lighten($color: black, $amount: 5);
    font-family:'Trebuchet MS';
    text-align: justify;
}

main, nav, footer {
    max-width: 980px;
    padding-right: 2vw; 
    padding-left: 2vw;
    padding-top: 2vh; 
    padding-bottom: 2vh;
    margin: auto;
}

body {margin: 0px;}

a {color: red}

h1 {
    color: yellowgreen;
    font-size: 1.75em;
}