---
---

html {
    color: whitesmoke;
    background-color: darken($color: blue, $amount: 40);
    font-family:sans-serif;
    text-align: justify;
}

main, nav, footer {
    max-width: 980px;
    padding: 1vh 2vw;
    margin: auto;
}

body {margin: 0px;}

a {color: yellowgreen}

h1 {
    color: cyan;
    font-size: 1.75rem;
}